<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/recipe_recommend.css">
    <title>Recipe App</title>
</head>
<body>
    <header>
            <!-- empty navbar -->
            {% include 'navbar.html'%}
    </header>
    <main>
        <div class="search-container">
            <input type="text" placeholder="Search for ingredients..." class="searchBox">
            <label for="dietTypeSelect" style="color:black;">Diet Type:</label>
            <select id="dietTypeSelect">
                <option value="all" selected>All</option> 
                <option value="vegetarian">Vegetarian</option>
                <option value="vegan">Vegan</option>
                <option value="non-vegetarian">Non-Vegetarian</option>
            </select>
            <button type="submit" class="searchBtn">Search</button>
        </div>
        <section>
            <div class="recipe-container">
                <h2>Search your favourite recipes...</h2>
            </div>
            <div class="recipe-details">
                <button type="button" class="recipe-close-btn">
                    <i class="fa-solid fa-xmark"></i>
                </button>
                <div class="recipe-details-content"></div>
            </div>
        </section>
    </main>

    <script src="/static/js/recipe_recommend.js"></script>
</body>
</html> 