<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/static/css/sign_in_log_in_form.css" />
    <title>Sign in & Sign up Form</title>
  </head>
  <body>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="email"  name="in_email" placeholder="Enter your email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="in_password" placeholder="Enter your Password" />
            </div>
            <input type="submit" value="Login" class="btn solid" />
            <div class="social-media">
            </div>
          </form>
          <form action="{{url_for('submit_health_condition')}}" method="post" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" placeholder="Enter Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" name="email" placeholder="Enter Email" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Enter Password" />
            </div>
            <div class="input-field">
            <i class="fas fa-heartbeat"></i> <!-- Assuming the heart icon represents health conditions -->
            <select id="healthCondition" name="healthCondition" required onchange="showFieldsBasedOnCondition()">
                <option value="" disabled selected>Any Health Conditions?</option>
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select>
            </div>
            <input type="submit" class="btn" value="Sign up"/>
            <div class="social-media">
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Signing up is quick, easy, and free! Don't miss out — become a member now and start exploring all
              that Calorite has to offer.
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
          </div>
          <img src="/static/img/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Welcome Back to Calorite!
              It looks like you're already part of our community. Log in now to continue your journey:
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
          <img src="/static/img/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>
    <script src="/static/js/sign_in_log_in_form.js"  type="module"></script>
  </body>
</html>
